body {
font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}
.wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.nav > li {
    margin: 0 10px;
}

.nav > li > a {
    text-decoration: none;
    color: #333333;
}

.header {
    background-color: #fff;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
}

.logo__image {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(./images/logo.svg);
    margin-right: 10px;
}

.header__info span {
    font-size: 16px;
}

.header__info button {
    font-size: 14px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #66C05D;
    padding: 10px 15px;
    margin-left: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

.header__info button:hover {
    background-color: #66C05D;
}

.header__buttom {
    padding: 15px 0 ;
}

.header__buttom .nav {
    font-size: 16px;
    margin: 0;
}

.hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}

.banner {
    background-image: url(./images/bg.png);
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.banner p {
    margin-bottom: 50px;
    max-width: 308px;
}

.btn {
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #fff;
    color: #333333;
}

.tittle {
    font-size: 48px;
    font-weight: 700;
}

.tittle__h2 {
    font-size: 24px;
    font-weight: 700;
}

.bg__white {
    background-color: #fff;
}

.bg__green {
    background-color: #66C05D;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.bg__green h3 {
    font-size: 18px;
    font-weight: 700;
}

.bg__green input {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 15px;
}

.bg__green__item {
    flex: 0 0 50%;
}

.bg__green .btn {
    display: block;
    text-align: center;
    max-width: 150px;
}

.bg__green__item:last-child {
    text-align: center;
    flex: 0 0 40%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0 30px;
}

.grid__item__tittle {
    grid-column: 1/4;
    grid-row: 1/2;
}

.grid__item__img {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.grid__item-left {
    grid-column: 1/3;
    grid-row: 3/4;
}

.grid__item-right {
    grid-column: 3/5;
    grid-row: 3/4;
}

.grid__item-catalog {
    text-align: center;
    padding: 15px;
}

.grid__item-catalog .bg__white {
    padding: 15px 30px;
}

.grid__price {
    font-size: 21px;
    font-weight: 500;
}

.grid__btn {
    color: white;
    text-decoration: none;
    background-color: #66C05D;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.2s ease;
    cursor: pointer;
}

.grid__item-right .bg__green .bg__green__item .tittle__h3 {
    margin-bottom: 46px;
}