:root {
  --main-color: #f7d65a;
  --main-color2: #100f0f;
  --fonts-color: #fff;
  --shadow-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

html{
    background: #181818;;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(40, 40, 42);
  background-size: cover;
  font-size: 16px;
  color: var(--fonts-color);
}

a {
  text-decoration: none;
  color: var(--fonts-color);
}

li {
  list-style: none;
}

.wrapper {
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ------ */

/* ------ */
.header {
  background-color: var(--main-color2);
  height: 80px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}

.header-left-side,
.header-right-side {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__logo img {
  height: 45px;
  width: 60px;
  padding-right: 30px;›
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
}
.menu__item {
  letter-spacing: 1px;
}

.menu__item a {
  text-transform: uppercase;
}

.menu__link {
  padding: 28px;
}

.menu__link:hover,
.header__subscribe:hover {
  background-color: var(--main-color);
  color: var(--main-color2);
  transition: 0.3s ease;
}

/* ------ popup ----------------- */

div ul li {
  position: relative;
}

.sub-menu__list {
  position: absolute;
  left: 0;
  top: 45px;
  width: 250px;
  background: var(--main-color);
  z-index: 1;
}

.sub-menu__item {
  padding: 15px 15px 10px 20px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  padding-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.sub-menu__item:first-child {
  padding-top: 20px;
}

.sub-menu__item:last-child {
  padding-bottom: 20px;
}

.sub-menu__list a {
  color: var(--main-color2);
}

.sub-menu__list {
  display: none;
}

.menu__item:hover .sub-menu__list {
  display: block;
}

.sub-menu__item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.sub-menu__item:hover a {
  color: rgb(0, 0, 0, 0.7);
}

/* ------ */

.header__switchers {
  display: flex;
}
.header__switchers a {
  padding: 20px 10px;
}

.switchers-header {
}
.switcher-header__lang {
}
.switcher-header__img {
  width: 30px;
  height: 30px;
}
.search-header {
}

.search-header__form {
  position: relative;
}

.search-img {
  position: absolute;
  right: 10px;
  top: 5px;
}

.search-header__input {
  border-radius: 10px;
  height: 25px;
  width: 280px;
  padding-left: 20px;
  background-color: var(--main-color);
}

.search-header__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  color: var(--main-color2);
}

.switcher-header__lang {
    background-color: var(--main-color);
    block-size: 30px;
    padding: 6px;
    margin: 20px;
    block-size: 30px;
    border-radius: 10px;
}

.switcher-header__theme {
  position: relative;
  top: 6px;
}

.checkbox {
  position: relative;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #cdd1da;
  box-shadow: inset 2 2px 3px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.checkbox + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: var(--fonts-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.checkbox:checked + label::after {
  left: 26px;
}

#check:checked + label::before {
  background: var(--main-color);
}

.header__subscribe {
  padding: 30px;
  text-transform: uppercase;
}

.icon-menu {
}

.main {
    padding-top: 30px;
}

form {
    display: block;
    margin: 0 auto;
}

.write {
    margin-bottom: 30px;
}

.write__wrapper {
    margin: 0 auto;
    width: 1000px;
}

.write__form {
    display: flex;
    align-items: center;
}

.write__input {
    border: none;
    background-color: var(--main-color2);
    filter: var(--shadow-filter);
    width: 800px;
    height: 80px;
    border-radius: 6px;
    padding: 0 28px;
    color: var(--main-color);
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
}

.write__input::placeholder{
    color: #f7d65a;

}

.write__form-wrapper {
    margin-left: -140px;
    z-index: 1;
}

.write__img {
    margin-right: 15px;
 
}

.write__btn {
    background-color: transparent;
    border: none;
}



.content__block {
    width: 1000px;
    margin: 0 auto 30px;
    background-color:  #202020;
    filter: var(--shadow-filter);
    border-radius: 10px;


}

.content__img,
.content__block-video {
    width: 1000px;
    margin-bottom: 15px;
}

.content__title {
    font-weight: 500;
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 15px;
    padding: 0 26px;
    }

    .content__text {
padding: 0 26px 21px;
font-weight: 400;
font-size: 18px;

    }

    .content__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content__footer-inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 26px;
        margin-bottom: 25px;
    }

    .content__footer-date {
        margin-right: 14px;
        color: #828282;
        
      
    }

    .content__footer-elipse {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #828282;
        margin-right: 14px;
    }

    .content__footer-theme {
        color: #828282;
        font-weight: 400;
        font-size: 14px;
    }

    .content__footer-link {
        border: none;
        padding: 0;
        color: var(--main-color);
        font-size: 20px;
        margin: -6px 25px 25px;
    }

/*---------------------------------------- footer ---------------------*/
.footer { 
  height: 300px;
  background-color: var(--main-color2);
}
.footer__container {
  display: flex;
  padding-top: 80px;

}
.footer__contacts{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 300px 0 150px;
}

.contacts__list:nth-child(3) {
  margin-left: 5px;
}

.contacts__list-item {
}
.octicon {
}

.octicon-mark-github path {
  fill: var(--fonts-color);
}
.octicon-mark-github:hover path {
  fill: var(--main-color);
  transition: 0.2s;
}
.v-align-middle {
}

.gitlab path { 
  fill: var(--fonts-color);
}

.gitlab:hover path { 
  fill: var(--main-color);
  transition: 0.2s;
}

.footer__license {
  text-align: center;
  padding-top: 80px;
  color: var(--main-color);
}

.about { 
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 230px;
  padding-top: 25px;
}

.about a { 
  text-decoration: underline;
}

.about a:hover { 
  color: var(--main-color);
  text-decoration: underline;
  transition: 0.2s;
}
.about__us { 

}

.about__project { 

}

.footer__switch { 
  
}

.footer__lang { 
  display: flex;
  align-items: center;
}

.footer__lang p { 
  padding-right: 55px;
}

.footer__theme { 
  display: flex;
  align-items: center;
}