body {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 16px;
    color: #9c9c9c;
    background-color: #1c1c1f;
    box-sizing: border-box;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

.page {
    flex: 1 1 auto;
}

.page__main {
}

.page__clients {
}

.page__services {
}

.page__advantages {
}

.page__testimonials {
}

/* ---------------------------- */
.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background: #3d96f4;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45;
    color: #fff;
    transition: bacground-color 0.3s ease 0s;
}

.button__dark {
    background-color: rgba(129, 129, 139, 0.2);
}

@media (max-width: 991.98px) {
    .button {
        padding: 14px 20px;
    }
}

.button:hover {
    background-color: #68a9f0;
}

.button__dark:hover {
    background-color: rgba(129, 129, 139, 0.4);
}

.header-main {
}

.header-main__label {
    display: inline-block;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9c9c9c;
    padding: 11px 18px;
    transition: border 0.3s ease 0s;
}

.header-main__label:hover {
    border: 1px solid rgba(129, 129, 139, 0.4);
}

.header-main__label:not(:last-child) {
    margin-bottom: 19px;
}

.header-main__title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19;
    color: #fff;
    max-width: 520px;
}

.header-main__title:not(:last-child) {
    margin-bottom: 28px;
}

.header-main__text {
    color: #9c9c9c;
    font-size: 18px;
    line-height: 1.5;
}

.header-main__text p {
    margin-bottom: 33px;
}

.header-main__body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-main__body .header-main__text {
    margin: 0;
}

.header-main__body .header-main__actions {
    align-self: flex-end;
    flex: 0 0 auto;
}

.header-main__actions {
    display: flex;
    column-gap: 32px;
    row-gap: 15px;
}
.header-main__button {
}

.header-main__list {
}

.header-main__list li {
    position: relative;
    min-height: 32px;
    padding-left: 40px;
    color: #9c9c9c;
    line-height: 1.5;
    padding-top: 4px;
}

.header-main__list li:not(:last-child) {
    margin-bottom: 16px;
}

.header-main__list li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: rgba(129, 129, 139, 0.1) url(../img/why/green-arrow.svg) center no-repeat;
}

@media (max-width: 991.98px) {
    .header-main__title {
        font-size: 44px;
    }
}

@media (min-width: 768px) {
    .header-main__title {
        max-width: 520px;
    }
    .header-main__text {
        max-width: 500px;
    }
}

@media (max-width: 767.98px) {
    .header-main__title {
        font-size: 32px;
    }
    .header-main__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .header-main__text:not(:last-child) {
        margin-bottom: 15px;
    }
    .header-main__body {
        flex-direction: column;
        gap: 0;
    }

    .header-main__body .header-main__actions {
        align-self: flex-start;
    }
}

@media (max-width: 479.98px) {
    .header-main__actions {
        flex-direction: column;
    }
}
.text {
    color: #81818b;
    line-height: 1.5;
}

/*********************header ***********************/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(13, 13, 17, 0.5);
}

.header__container {
    display: flex;
    column-gap: 35px;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__logo {
}

.header__menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
}

.menu__icon {
}

.icon-menu {
    display: none;
    cursor: pointer;
}

.menu__body {
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    justify-content: flex-end;
    column-gap: 35px;
}

.menu__item {
}

.menu__link {
    display: block;
    line-height: 1.62;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}

.menu__link:hover {
    text-decoration: underline;
}

.header__cart {
    font-size: 18px;
    line-height: 1.55;
}
.cart-header {
    color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-header__quantuty {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.header__button {
    flex: 0 0 auto;
}

.header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 5;
}

@media (max-width: 991.98px) {
    .header__container,
    .menu__list {
        column-gap: 25px;
    }
    .header__container {
        min-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .header__container,
    .menu__list {
        column-gap: 15px;
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        cursor: pointer;
    }
    .icon-menu::before {
        content: "";
        top: 0;
    }
    .icon-menu::after {
        content: "";
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
    }
    .menu-open .icon-menu span {
        width: 0;
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -110%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #000;
        z-index: 1;
        transition: left 0.3s ease 0s;
    }
    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        margin: 0 auto;
    }
    .menu__link {
        font-size: 32px;
    }
    .header__container {
        min-height: 70px;
    }
    .header__buttom {
        display: flex;
    }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;
}

@media (max-width: 560px) {
    .header__container,
    .menu__list {
        column-gap: 10px;
    }
    .header__logo {
        width: 37px;
        overflow: hidden;
    }
    .header__logo img {
        width: 137px;
    }
    .cart-header__text {
        display: none;
    }
    .cart-header__quantuty {
        background: url(../img/cart.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 0;
    }
    .cart-header__quantuty span {
        position: relative;
        top: 5px;
    }
}
/******************** main  *********************/

.main {
    padding: 160px 0 100px;
}
.main__container {
    display: flex;
    gap: 32px;
}

.main__content {
    flex: 0 1 50%;
    align-self: center;
}
.main__header {
    position: relative;
}
.main__header::before {
    content: "";
    background: url(../img/main/dot-box.svg) 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    top: -16px;
    left: -26px;
    z-index: 0;
}

.main__text {
}
.main__actions {
}
.main__button {
}

.button__dark {
}
.main__images {
    flex: 0 1 50%;
}
.images-main {
    display: flex;
    justify-content: center;
    gap: 9%;
}

.images-main__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.images-main__item {
}
.images-main__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767.98px) {
    .main {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .main__container {
        flex-direction: column;
    }
    .main__content {
        align-items: stretch;
    }
}

/******************** Clients **************/
.page__clients {
    padding-top: 100px;
    padding-bottom: 70px;
}
.clients {
}
.clients__container {
}
.clients__title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.57;
    margin-bottom: 44px;
}
.clients__items {
    display: flex;

    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.clients__item {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .clients {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .clients__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .clients__title {
        margin-bottom: 20px;
    }
}

/*************************** services **************************/

.services {
    padding-top: 70px;
    padding-bottom: 100px;
}
.services__container {
    display: flex;
    gap: 32px;
}
.services__content {
    flex: 0 1 50%;
    align-self: center;
}
.services__header {
}
.header-main {
}

.services__items {
    flex: 0 1 50%;
    display: flex;
    gap: 32px;
    justify-content: center;
}
.services__column {
}

.services__column:first-child {
    padding-top: 48px;
}
.services__item {
}

.services__item:not(:last-child) {
    margin-bottom: 32px;
}
.item-services {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 55px 25px;
}
.item-services__icon {
}

.item-services__icon:not(:last-child) {
    margin-bottom: 16px;
}
.item-services__title {
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    line-height: 1.42;
}

.item-services__title:not(:last-child) {
    margin-bottom: 10px;
}

.item-services__text {
}

@media (max-width: 1100.98px) {
    .services__container {
        flex-direction: column;
    }

    .services__header .header-main__title,
    .services__header .header-main__text {
        max-width: none;
    }
}

@media (max-width: 991.98px) {
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 620.98px) {
    .services__items {
        flex-direction: column;
    }

    .services__column:first-child {
        padding-top: 0;
    }
}

/*********************************** why **************************************/

.why {
    padding-top: 100px;
    padding-bottom: 100px;
}
.why__container {
    display: flex;
    column-gap: 64px;
    row-gap: 32px;
}
.why__images {
    flex: 0 1 50%;
}
.images-why {
    display: flex;
    position: relative;
    align-self: flex-end;
}
.images-why__item img {
    max-width: 100%;
}
.images-why__item-1 {
}
.images-why__item-2 {
    align-self: flex-end;
}
.why__content {
}
.why__header {
}

.images-why::before {
    content: "";
    background: url(../img/main/dot-box.svg) 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    bottom: -10px;
    left: -26px;
}

@media (max-width: 991.98px) {
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .why {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .why__container {
        flex-direction: column-reverse;
    }
}

/*********************************** advantages **************************************/

.advantages {
    padding-top: 100px;
    padding-bottom: 100px;
}
.advantages__container {
    display: flex;
    row-gap: 32px;
}
.advantages__items {
    flex: 1 1 auto;
    padding-right: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}
.advantages__item {
    padding: 40px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
}
.advantages__value {
    font-size: 51px;
    font-weight: 500;
    color: #fff;
}

.advantages__value:not(:last-child) {
    margin-bottom: 32px;
}

.advantages__text {
    font-size: 18px;
    line-height: 1.5;
}
.advantages__image {
    flex: 0 0 38%;
    align-self: flex-end;
}

.advantages__image img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .advantages__items {
        padding-right: 0;
    }
    .advantages__container {
        flex-direction: column;
    }
    .advantages__image {
        align-self: center;
    }
}

@media (max-width: 767.98px) {
    .advantages {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 650px) {
    .advantages__items {
        grid-template-columns: auto;
    }
}

/*********************************** testimonial **************************************/

.testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
}
.testimonials__container {
}
.testimonials__header {
    margin-bottom: 64px;
}

.testimonials__header .header-main__title {
    max-width: none;
}

.testimonials__header .header-main__text {
    max-width: 740px;
}
.testimonials__items {
    /* max-width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.testimonials__item {
    max-width: 100%;
}
.item-testimonial {
    padding: 64px 40px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.item-testimonial__user {
}
.user-testimonial {
    display: flex;
    align-items: center;
    gap: 16px;
}
.user-testimonial__avatar {
    flex: 0 0 68px;
}

.user-testimonial__avatar img {
    /* max-width: 100%; */
}
.user-testimonial__body {
}
.user-testimonial__title {
    line-height: 1.5;
    color: #fff;
}

.user-testimonial__title:not(:last-child) {
    margin-bottom: 7px;
}
.user-testimonial__company {
    font-size: 14px;
    line-height: 1.57;
}
.item-testimotial__title {
    color: #fff;
    font-size: 32px;
    line-height: 1.4;
}
.item-testimotial__text {
    font-size: 14px;
    flex: 1 1 auto;
    line-height: 1.5;
}
.item-testimotial__rating {
}

@media (max-width: 1100) {
    .testimonials__items {
        grid-template-columns: auto;
    }
}

@media (max-width: 991.98px) {
    .testimonials {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .testimonials__header {
        margin-bottom: 40px;
    }
}

@media (max-width: 767.98px) {
    .testimonials {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header-main__text .header-main__text-mg {
        margin-bottom: 0;
    }
    .item-testimonial {
        padding: 30px 15px;
    }
}

/**************************** review ******************************************/

.review {
    padding-top: 100px;
    padding-bottom: 65px;
}

.review-main__title {
    font-weight: 500;
    font-size: 51.2px;
    line-height: 61px;
    color: #ffffff;
}

.review-main__title:not(:last-child) {
    margin-bottom: 32px;
}

.review-main__body {
    display: flex;
    justify-content: space-between;
}

.review-main__text .review-main__body {
    margin: 0;
}

.review-main__text {
    max-width: 740px;
    font-size: 18px;
    line-height: 27px;
}

.review-main__text:not(:last-child) {
    margin-bottom: 32px;
}

@media (max-width: 991.98px) {
    .review {
        padding-top: 70px;
        padding-bottom: 35px;
    }

    .review-main__body {
        flex-direction: column;
    }
}

@media (max-width: 767.98px) {
    .review {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .header-main__button {
        align-self: stretch;
    }
}

/*************************** blog *******************************8*/

.blog {
    padding-top: 35px;
    padding-bottom: 200px;
    margin-top: 32px;
}

.blog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.item-blog {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.item-blog__header {
    position: relative;
}

.item-blog__category {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(129, 129, 139, 0.5);
    border-radius: 0px 10px 0px 0px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    padding: 10px;
}

.item-blog__image {
    margin-bottom: 49px;
}

.item-blog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-blog__body {
    padding: 36px 26px;
}

.item-blog__date {
    font-size: 16px;
    line-height: 24px;
    color: rgba(129, 129, 139, 0.9);
}

.item-blog__date:not(:last-child) {
    margin-bottom: 20px;
}

.item-blog__title:not(:last-child) {
    margin-bottom: 30px;
}

.item-blog__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.item-blog__link-title {
    font-weight: 400;
    font-size: 19.2px;
    line-height: 27px;
    color: #ffffff;
}

.item-blog__text:not(:last-child) {
    margin-bottom: 21px;
}

.item_blog__link {
    font-size: 14px;
    line-height: 22px;
    color: #3d96f4;
}

.item_blog__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .blog__items {
        gap: 20px;
    }

    .item-blog__body {
        padding: 26px 16px;
    }
}

@media (max-width: 991.98px) {
    .blog {
        padding-top: 25px;
        padding-bottom: 70px;
        margin-top: 22px;
    }
}

@media (max-width: 767.98px) {
    .blog {
        padding-top: 15px;
        padding-bottom: 50px;
        margin-top: 12px;
    }

    .blog__items {
        grid-template-columns: auto;
    }
}

/************************ start  **************************************/

.page__start {
    margin-bottom: 100px;
}

.start__items {
    display: flex;
    align-items: center;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 52px 40px;
}

.start__column {
    flex: 0 1 50%;
    text-align: center;
}

.start__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #fff;
}

.start__title:not(:last-child) {
    margin-bottom: 16px;
}

.start__text {
    max-width: 300px;
    display: inline-block;
}

.start__action {
    display: flex;
    column-gap: 32px;
    row-gap: 20px;
    justify-content: center;
}

@media (max-width: 991.98px) {
    .page__start {
        margin-bottom: 50px;
    }

    .start__items {
        align-items: stretch;
        flex-direction: column;
        row-gap: 30px;
    }
}

@media (max-width: 767.98px) {
    .page__start {
        margin-bottom: 30px;
    }

    .start__title {
        font-size: 24px;
    }
}

@media (max-width: 479.98px) {
    .start__action {
        flex-direction: column;
    }
}

/***************************** footer  **************************/

.footer__main {
    padding-top: 160px;
    padding-bottom: 160px;
}

.main-footer__container {
    display: grid;
    gap: 64px;
    grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}

.main-footer__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-footer__label {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
}

.social {
    display: flex;
    gap: 16px;
}

.social__link {
    flex: 0 0 36px;
    height: 36px;
    border: 1px solid rgba(129, 129, 139, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link:hover {
    border: 1px solid rgba(167, 167, 199, 0.9);
    cursor: pointer;
}

.menu-footer__list {
    display: grid;
    gap: 24px;
}

.menu-footer__link {
    line-height: 1.4;
}

.menu-footer__link:hover {
    color: #ffffff;
    cursor: pointer;
}

.subscribe {
    display: flex;
    gap: 16px;
}

.subscribe__input {
    height: 52px;
    border: 1px solid rgba(129, 129, 139, 0.3);
    border-radius: 50px;
    padding: 0px 30px;
    color: #fff;
    background-color: transparent;
}

.subscribe__input::placeholder {
    color: #999999;
}

.bottom-footer {
    border-top: 1px solid rgba(129, 129, 139, 0.2);
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-footer__copy {
    text-align: center;
}

@media (max-width: 1110px) {
    .main-footer__container {
        gap: 45px;
        grid-template-columns: minmax(auto, 378px) auto auto;
    }
    .main-footer__column:nth-child(1) {
        grid-column: span 3;
    }
}

@media (max-width: 991.98px) {
    .footer__main {
        padding-top: 800px;
        padding-bottom: 800px;
    }
}

@media (max-width: 767.98px) {
    .footer__main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .main-footer__container {
        gap: 35px;
        grid-template-columns: auto;
    }
    .main-footer__column:nth-child(1) {
        grid-column: span 2;
    }
    .main-footer__column:nth-child(4) {
        grid-column: span 2;
    }
    .bottom-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (max-width: 479.98px) {
    .subscribe {
        flex-direction: column;
    }
}
