* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.background-header {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
  color: #ffffff;
}

.greeting {
  padding-top: 528px;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  padding-bottom: 16px;
}

.text {
  padding-top: 10px;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 60px;
}

.big-text {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  border-color: #ffffff;
  border: 2px solid;
  width: 100%;
  max-width: 771px;
}

.big-text > span {
  display: inline-block;
  border-right: 4px #f48e0b solid;
  padding: 10px;
  color: #f48e0b;
}

.main-section {
  margin-top: 131px;
  text-align: center;
}

.section-title {
  color: #4d4943;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
}

.section-paragraph {
  font-size: 17px;
  color: #4d4943;
  margin-bottom: 48px;
  text-align: center;
}

.orange-line-horizontal {
  display: inline-block;
  background: #f48e0b;
  width: 60px;
  height: 2px;
  margin-bottom: 57px;
}

.menu {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch;
  align-content: space-between;
  flex-wrap: wrap; */

  padding: 22px 0;
  margin-bottom: 25px;
  border-bottom: 3px solid #f1b128;
  /* height: 200px; */
}

.logo {
  font-size: 38px;
  font-weight: bold;
  color: #f1b128;
}

.menu-list {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  flex-wrap: wrap;
  gap: 70px;
}

.menu-link {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
  text-decoration: none;
}

.menu-link:hover {
  color: #f1b128;
  cursor: pointer;
}

.d-flex {
  display: flex;
  width: 100%;
  gap: 30px;
}

.block-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.img-1 {
  width: 46%;
  max-width: 270px;
  margin: 5px;
}

.block-2 {
  flex-basis: 50%;
  color: #505050;
}

.block-2 h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-2 h3 span {
  color: #f1b128;
}

.block-2 p {
  font-size: 14px;
  line-height: 22px;
  padding-top: 22px;
}
.block-2 button {
  margin-top: 36px;
  padding: 19px 27px;
  background: #f1b128;
  color: #ffffff;
  border: none;
}

.block-2 button:hover {
  outline: 1px solid chocolate;
  cursor: pointer;
}

.cont-mg-bottom {
  margin-bottom: 124px;
}

.speed {
  background-image: url(../img/bg-speed.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 116px;
}

.speed-caption {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 59px;
}

.speed-caption span {
  color: #f1ad1d;
}

.orange-line {
  border-bottom: 2px solid #f1ad1d;
  width: 62px;
  margin: auto;
}

.horizontal-line {
}

.diana {
  margin-top: 53px;
  margin-bottom: 207px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diana-img {
  margin: 2px;
}

.block-cards {
  /* display: flex;
  justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.block-cards {
}

.heading-caption-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 43px;
}
.section-title {
}
.section-paragraph {
}
.orange-line {
}

.block {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 196px;
}

.block-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.block-link-button {
  width: 270px;
  height: 56px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.block-link-button-a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.block-link-button-a span {
  color: #f1b128;
}

.block-picture {
  margin-top: 30px;
  margin-bottom: 38px;
}

.block-p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #505050;
  margin-bottom: 24px;
}

.block-line {
  margin-bottom: 27px;
}

.block-h2 {
  font-size: 18px;
  font-weight: 400;
  color: #505050;
  margin-bottom: 13px;
}

.discription {
  font-size: 14px;
  font-weight: 300;
  color: #505050;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
}

.discription span {
  margin-bottom: 3px;
}

.block-underline {
  border-bottom: 2px solid #323030;
}
